<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.blog_name }}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#    要记得加上不然ajax这些出不来，js的问题就浏览器F12看看是不是报错了#}
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="col-12 mt-4 mb-4">{{ blog.blog_name }}</h1>
        <div class="col-12 alert alert-success">作者：{{ blog.blog_author.author_name }}</div>
        <div class="col-12 alert alert-success">主题：{{ blog.blog_theme.theme_name }}</div>
        <div class="col-12">
            <p>{{ blog.blog_content }}</p>
        </div>
        <div class="col-12 alert alert-success">发布时间：{{ blog.blog_publish_time }}</div>
        <div class="col-12 alert alert-success">阅读数：{{ blog.blog_read_number }}</div>
    </div>

    <div class="comment">
        <div class="comments-display" style="padding-top: 20px;">
            <h3>评论</h3>
            {% for comment in comments %}
                <div class="comment-field" style="padding-top: 10px;">
                    {{ comment.comment_user.author_name }} 说: {{ comment.content }}
                </div>
            {% endfor %}
        </div>
        </div>
</div>
<br />
<form class="comment-form" id="jsStayForm">
        <input name="comment_user" type="hidden" id="js-name" value="{{ user_name.id }}">
{#    需要用id来保存，不然会报错#}
      <div class="form-group">
        <label class="comment">评论:</label>
        <textarea name="content" class="form-control" id="js-content" rows="5" placeholder="不超过300个字"></textarea>
      </div>
        <input name="comment_blog" type="hidden" id="js-name" value="{{ blog.id }}">
        <p class="error company-tips" id="jsCompanyTips"></p>
        <button class="btn" type="submit" id="jsStayBtn" value="发表评论">发表评论</button>
{#    这个不能用button，不然会提交不上，要用submit#}
    </form>
{% block content_js %}
<script>
    $(function(){
        $('#jsStayBtn').on('click', function(){

            $.ajax({
                cache: false,
                type: "POST",
                url:"add_comment?user_name={{ user_name.author_name }}",
                {#需要加上名字传过去，不然会报找不到，虽然不影响功能#}
                data:$('#jsStayForm').serialize(),
                dateType:"json",
                async: true,
                beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
                success: function(data) {
                    if(data.status === 'success'){
                         window.location.reload();//刷新当前页面.
                    }else if(data.status === 'fail'){
                        alert("评论错误，请重新评论");
                    }
                },
            });
            return false
        {#    阻止表单提交#}
        });
    })

</script>
{% endblock %}
</body>
</html>