<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.blog_name }}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="col-12 mt-4 mb-4">{{ blog.blog_name }}</h1>
        <div class="col-12 alert alert-success">作者：{{ blog.blog_author.author_name }}</div>
        <div class="col-12 alert alert-success">主题：{{ blog.blog_theme.theme_name }}</div>
        <div class="col-12">
            <p>{{ blog.blog_content }}</p>
        </div>
        <div class="col-12 alert alert-success">发布时间：{{ blog.blog_publish_time }}</div>
        <div class="col-12 alert alert-success">阅读数：{{ blog.blog_read_number }}</div>
    </div>

    <div class="comment">
        <div class="comments-display" style="padding-top: 20px;">
            <h3>评论</h3>
            {% for comment in comments %}
                <div class="comment-field" style="padding-top: 10px;">
                    {{ comment.comment_user.author_name }} 说: {{ comment.content }}
                </div>
            {% endfor %}
        </div>
        </div>
</div>
<div>
    <td>进行评论</td><br />
            <textarea id="js-pl-textarea"></textarea>
            <input type="submit" value="提交" id="js-pl-submit"/>
</div>
{#<script type="text/javascript">#}
{#    $('#js-pl-submit').on('click',function () {#}
{#    var comments = $('#js-pl-textarea').val()#}
{#    if(comments === ""){#}
{#        alert("评论不能为空")#}
{#        return#}
{#    }#}
{#    $.ajax({#}
{#        cache:false,#}
{#        type:"POST",#}
{#        url:"{% url 'comments:addcomment' %}",#}
{#        data:{'post_id':{{ post.id }},'comments':comments},#}
{#        async:true,#}
{#        beforeSend:function (xhr,settings) {#}
{#                    xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");#}
{#                },#}
{#        success:function (data) {#}
{#            if (data.status == 'fail'){#}
{#                if (data.msg == '用户未登录'){#}
{#                    window.location.href = {% url 'login' %};#}
{#                }else {#}
{#                    alert(data.msg)#}
{#                }#}
{#            }else if(data.status == "success"){#}
{#                window.location.reload()#}
{#            }#}
{#        }#}
{#    })#}
{#    })#}
{#</script>#}
</body>
</html>