<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html?user_name={{ user_name }}">{{ user_name }}</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="write_blog.html?nid={{ user_name }}">写博客</a></li>
            <li><a href="#">关于</a></li>
		</ul>
	</div>
	<form class="bs-example bs-example-form" role="form" action="search.html" method="get">
        {% csrf_token %}
			<div class="col-lg-6">
				<div class="input-group">
					<input type="search" class="form-control" name="search_all" />
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							搜索全站博客
						</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
	</form>
	</div>
</nav>
{% for blog in blogs %}
<div align="center" class="blog">
    <div class="title">
        <a class="blog_link" href="{% url 'detail' blog_id=blog.id %}"><h2>{{ blog.blog_name }}</h2></a>
    </div>
    <div class="info">
        <span class="category" style="color: #ff9900;">类型：{{ blog.blog_theme.theme_name }}</span>
        <span class="author" style="color: #4a86e8;">作者：{{ blog.blog_author.author_name }}</span>
    </div>
    <div class="summary">
        {{ blog.blog_content | truncatechars:100 }}
    </div>
</div>
{% endfor %}
</body>
</html>