<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录成功</title>
</head>
<body>
    <h1>登录成功</h1>
   <p id="page_div">将在3秒后自动跳转到个人主页</p>
<script language="javascript">
    var num = 2; //倒计时的秒数
    var URL = "index.html";
    var id = window.setInterval('doUpdate()', 1000);
    function doUpdate() {
        document.getElementById('page_div').innerHTML = '将在'+num+'秒后自动跳转到首页' ;
        if(num === 0) {
            window.clearInterval(id);
            window.location = URL;
        }
        num --;
    }
</script>
</body>
</html>
<!--  -->注意有的时候有的图片加载不出来，就F12进去看，放在网址链接上看发现是https：//的能够显示图片，
<!--  -->file：这种的就显示不出来，可能是要求的协议不同罢了，有的网站不同意这种file：通过
